<div class="row">
	<div class="column medium-6 medium-offset-3">

		<h3>設定を変更する</h3>

		<%= simple_form_for @setting, url: '/admin_settings', method: :patch do |f| %>
			<%= f.input :password, placeholder: "パスワード" %>
			<%= f.input :footer_text, placeholder: "フッターテキスト" %>
			<%= f.submit class: 'button float-right' %>
		<% end %>

	</div>
</div>