<h3>出席人数確認</h3>
<hr/>

<%= react_component "AttendanceRecordsList", primaryButtonColor: admin_setting.button_color, secondaryButtonColor: admin_setting.secondary_button_color, thirdButtonColor: admin_setting.third_button_color, topColor: admin_setting.top_color, footerColor: admin_setting.footer_color %>

