.attendance-form {
	cursor: pointer;

	td:hover {
		background: #2199e8;
    color: white;

    transition: all 700ms ease;
	  -webkit-transition: all 700ms ease;
	  -moz-transition: all 700ms ease;
	  -o-transition: all 700ms ease;
	}
}