@import "mixins";

.attendance-form {
	cursor: pointer;
	border-collapse: separate;
  border-spacing: 15px;

  td {
    @include transition(all);

  	background: #333;
    color: white;    
    box-shadow: 1px 4px 8px #777;
    border-radius: 2px;
    position: relative;
    text-align: center;
    width: 33.33%;
    padding-bottom: 22%;
    height: 0;  	
  }

	td:hover {
    @include transition(all);
    
		background: #2199e8;
    color: white;    
	}

	.number {
		position: absolute;
	}
}