$footer-height: 60px;

html, body {
	font-family: "Rounded Mplus 1c";
}

button:focus {
	outline: none;
}

#wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: $footer-height;
}

a {
	font-weight: 400;
}

.footer {
	background: #1a1a1a;
	color: #a3a3a3;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding-top: 15px;
	height: $footer-height;
}

.button-back {
	border-radius: 20px;
}

.marquee {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.marquee p {
  animation: marquee 8s linear infinite;
  -webkit-animation: marquee 8s linear infinite;
  -moz-animation: marquee 8s linear infinite;
  -o-animation: marquee 8s linear infinite;
  white-space: nowrap;
}

.stat-bar {
	background-color: yellow;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 1rem;
}

.memo-container {
	max-height: 300px;
	overflow: auto;
	background: whitesmoke;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #cacaca;
}

@media screen and (max-width: 39.9375em) {
	.marquee {
		width: 85%;
    margin-top: 0px;
    vertical-align: middle;
    float: right;

		p {
			margin-bottom: 0px;
		}
	}

	.reveal {
		padding-top: 100px;
	}
	
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}

@-moz-keyframes marquee {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}

@-o-keyframes marquee {
  0% { -o-transform: translateX(100%); }
  100% { -o-transform: translateX(-100%); }
}

