$footer-height: 60px;

html, body {
	font-family: "Rounded Mplus 1c";
}

#wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: $footer-height;
}

a {
	font-weight: 400;
}

.footer {
	background: #1a1a1a;
	color: #a3a3a3;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding-top: 15px;
	height: $footer-height;
}

.marquee {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.marquee p {
  animation: marquee 8s linear infinite;
  white-space: nowrap;
}

@media screen and (max-width: 39.9375em) {
	.marquee {
		width: 70%;
		margin-top: 0px;
		margin-left: 10px;
		vertical-align: middle;

		p {
			margin-bottom: 0px;
		}
	}
	
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}