$footer-height: 60px;

html, body {
	font-family: "Rounded Mplus 1c";
}

#wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: $footer-height;
}

a {
	font-weight: 400;
}

.footer {
	background: #1a1a1a;
	color: #a3a3a3;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding-top: 15px;
	height: $footer-height;
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee p {
  animation: marquee 8s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}