@import "mixins";

.top-bar {
	border-bottom: 3px solid #f7f7f7;
	text-align: center;
	
	a {
		border-bottom: 2px solid transparent;

		@include transition(all);
	}

	a:hover {
		border-bottom: 2px solid #2199e8;

		@include transition(all);
	}
}

.top-bar, .top-bar ul {
	background: white;
}

.brand {
	height: 50px;
}

