.student-panel {
	padding: 20px;
	background: whitesmoke;
	position: relative;

	.btn-delete {
		position: absolute;
		bottom: 0px;
		right: 20px;
	}
}

.responsive {
	td, th {
		white-space: nowrap
	}
}