<footer class="footer text-center">
	<div class="row">
		<div class="column medium-6 medium-offset-3">
			<p>Copyright © <%= DateTime.current.year %> Triangle All rights reserved.</p>
		</div>
	</div>
</footer>